* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item > h1:hover {
    cursor: pointer;
    user-select: none;
}

.item > p {
    user-select: none;
}

.invisible-item {
    display: none;
}