#a::after, #a::before {
    font-size: 40pt;
    color: #890000;
    width: auto;
}

#a::before {
    float: left;
    content: "«";
}

#a::after {
    float: left;
    content: "»";
}

#q {
    float: left;
    width: 30%;
    margin-left: 2%;
}

#foot {
    margin-left: 2%;
    margin-top: 20px;
    display: block;
}