* {
	font-family: sans-serif;
	font-size: 1.1em;
	text-align: left;
	color: rgb(100,100,90);
}

body {
	background-color: rgb(192,192,192);
}

table {
	width: 100%;
	border-spacing: 0px;
}

p {
	font-size: 0.5em;
	color: rgb(255,255,255);
}

#ph_scale {
	background-color: rgb(224,224,224);
	padding: 1%;
}

#id0 {
	background-color: rgb(0,136,221);
}
#id1 {
	background-color: rgb(0,149,226);
}
#id2 {
	background-color: rgb(0,160,230);
}
#id3 {
	background-color: rgb(48,170,233);
}
#id4 {
	background-color: rgb(84,182,237);
}
#id5 {
	background-color: rgb(114,193,240);
}
#id6 {
	background-color: rgb(140,202,242);
}
#id7 {
	background-color: rgb(0,187,136);	
}
#id8 {
	background-color: rgb(245,176,204);	
}
#id9 {
	background-color: rgb(246,159,192);
}
#id10 {
	background-color: rgb(245,140,178);
}
#id11 {
	background-color: rgb(244,123,166);
}
#id12 {
	background-color: rgb(243,106,152);
}
#id13 {
	background-color: rgb(244,90,139);	
}
#id14 {
	background-color: rgb(238,62,128);
}